= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .row{ style: "text-align: center;" }
    What do you need help with to start your business?
  .row
    .columns.small-12.medium-10
      = f.text_field :question_text

    .columns.small-12.medium-2
      = f.submit('Save', class: 'button button-primary')
