.row
  - [ {step: 'plan', description: 'Getting your strategy together'}, {step: 'launch', description: 'Complying with rules to get your doors open'}, {step: 'grow', description: 'Opening your doors to the public'} ].each do |step_group|
    - group_name = step_group[:step]
    - group_description = step_group[:description]
    %ul.step-group.accordion.columns.small-12.large-4{ class: "#{group_name}", 'data-accordion' => 'true', 'data-allow-all-closed' => 'true' }
      %li.accordion-item{ 'data-accordion-item' => 'true' }
        %a.accordion-title.step-group-title.text-centered
          .step-group-title-text
            = group_name.upcase
            .arrow
          .step-group-description-text
            = group_description
        .accordion-content{ 'data-tab-content' => 'true' }
          - if group_name == 'launch'
            .step-card.choice-card.media-object{ style: 'height: initial; padding: 0;' }
              %div
                .choice-link.text-center
                  %div
                    %strong Choose type of space
                  %div Impacts number of steps below
                  %div
                    %a{ href: '/plan/physical-location', style: 'text-decoration: underline;'} learn more
              .text-center.choice-section.optional-disable
                .row
                  %p Home
                .row
                  %i.icon.icon-freelancer
              .text-center.choice-section.optional-enable.selected
                .row
                  %p Business Property
                .row
                  %i.icon.icon-physical-location
          - Comfy::Cms::Page.published.find_by(slug: group_name).children.published.order(:position).each do |page|
            %a{ href: page.full_path }
              - optional_step = ['site-selection','negotiate-lease','plan-check','permits','inspections'].include? page.slug
              .step-card.media-object{ class: "#{ optional_step ? 'optional-step' : '' }" }
                .media-object-section.middle
                  %i.icon{ class: "icon-#{page.slug}" }
                .media-object-section.middle
                  %strong= page.label
                  %div= page.blocks.find_by(identifier: 'subtitle').try(:content)
