.resources.new
  .step
    .step-header
      .step-title.text-center
        %i.icon.icon-large.icon-profile.white
        %h1 Sign Up

    .content-container
      .row.columns.small-12.medium-8.medium-offset-2.large-6.large-offset-3
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .field
            = f.label :email
            = f.email_field :email, autofocus: true
          .field
            = f.label :password
            - if @minimum_password_length
              %em (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: "off"
          .field
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off"
          .actions
            = f.submit "Sign Up", { class: 'button primary expanded margin-top-20' }
        = render "devise/shared/links"
