- content_for(:body_class, 'profile')

.step
  .step-header
    .step-title.text-center
      %i.icon.icon-large.icon-profile.white
      %h1 Create an Account
      - if session[:checklist_updates]
        %h2 to save your checklist progress

  .content-container{ style: 'width: 100%;' }
    .padding-h-10
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field.margin-bottom-10
          = f.label :email
          = f.email_field :email, autofocus: true, class: 'margin-bottom-0'
          %a{ href: 'http://www.lbpl.org/events/computer_classes.asp', style: 'text-decoration: underline;' } Need an email address? The library can help.
        .field
          = f.label :password
          - if @minimum_password_length
            %em (#{@minimum_password_length} characters minimum)
          = f.password_field :password, autocomplete: "off"
        .field
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "off"
        .actions
          = f.submit "Sign Up", { class: 'button primary expanded margin-top-20' }
      = render "devise/shared/links"
    %ul.accordion.modules{ "data-accordion" => "true", "data-allow-all-closed" => "true" }
      %li.accordion-item.is-active.modular-box{ "data-accordion-item" => "true" }
        %a.accordion-title.step-group-title.text-centered
          .step-group-title-text
            .text
              %strong My Checklist
            .arrow
        .accordion-content{ "data-tab-content" => "true" }
          = render 'shared/user_checklist'
    %ul.accordion.modules{ "data-accordion" => "true", "data-allow-all-closed" => "true" }
      %li.accordion-item.modular-box{ "data-accordion-item" => "true" }
        %a.accordion-title.step-group-title.text-centered
          .step-group-title-text
            .text
              %strong My Funding Opportunities
            .arrow
        .accordion-content{ "data-tab-content" => "true" }
          Soon you will be able to save your funding opportunities here. In the meantime, explore them with our search tool.
          %a{ href: '/resources/search' }
            .step-card.media-object
              .media-object-section.middle
                %i.icon.icon-checklist
              .media-object-section.middle
                %strong Obtain Funding
                %div Resource matching
