- content_for(:body_class, 'profile')
.step
  .step-header.margin-bottom-0
    .step-title.text-center
      %i.icon.icon-large.icon-profile.white
      %h1 My Profile
      %h2 track progress and essential info

  .content-container{ style: 'width: 100%;' }
    = form_for(@user, as: :user, url: profile_path, method: 'PUT') do |u|
      = u.label :email
      = u.email_field :email
      = u.label :password
      = u.password_field :password, placeholder: 'Must be at least 6 characters long'
      = u.label :password_confirmation
      = u.password_field :password_confirmation, label: 'New password confirmation', placeholder: 'Please type new password again'
      = u.submit 'Save Account Changes', class: 'button primary expanded'
    %a.button.secondary.expanded{ href: profile_path } Back to Profile