.step
  .step-header
    .step-title.text-center
      %i.icon-business-plan-blue
      %h1 Step 1:
      %h1 Create a Business Plan

  .content-container

    .row
      .checklist.columns.small-12.medium-5{"data-sticky-container" => "true"}
        .sticky{"data-anchor" => "step-content", "data-sticky" => "true"}
          %h2 My Checklist

          %ul
            = render 'shared/checklist_item', item_text:"Determine if I need a Business License"
            = render 'shared/checklist_item', item_text:"Write a business plan"
            = render 'shared/checklist_item', item_text:"Check out the classes at SBDC"
            = render 'shared/checklist_item', item_text:"Get feedback on your Business Plan"
            = render 'shared/checklist_item', item_text:"Connect with a mentor"


      #step-content.columns.small-12.medium-7
        .step-section
          %h2 Do I need a Business License?

          %p Every entrepreneur needs to get a business license before they operate the business.

          %p This includes very small businesses like being a cartoonist on the beach or pet sitting. Certain types of business will require different permits and inspections from the Development Services, Fire, Health, and/or Police Departments.

          %p If you are unsure if you need a business license, contact the city’s Business License Department:

          = render 'shared/contact_box_combo', phone:'(562) 570-6211', email:'LBBIZ@longbeach.gov'

        .step-section
          %h2 Business Improvement Districts

          %p Businesses located in Business Improvement Districts (BIDS) require additional fees. These fees are collected by the City and passed on to the BIDS for use on improvement projects. In addition, all vendors doing business with the City of Long Beach are required to have a business license in Long Beach. Learn more about BIDs here (link to BIDs in section 3).

        .step-section
          %h2 Importance of a Business Plan

          %p Have a clear plan for how your business will operate and make money before applying for your business license. A business plan will serve as a road map for how to prepare for the rest of the business setup process. It is not a required document, but it is helpful.

          = render 'shared/link_box', link:'http://www.bplans.com/sample_business_plans.php', line_1:'VIEW', line_2:'Sample Business Plan (PDF)'

          = render 'shared/link_box', link:'https://www.sba.gov/sites/default/files/SBA%201010C.pdf', line_1:'EDIT', line_2:'Business Plan Template (PDF)'

          = render 'shared/link_box', link:'https://www.sba.gov/starting-business/write-your-business-plan/market-analysis', line_1:'READ', line_2:'How To Write a Business Plan'

        .step-section
          %h2 Business Plan Components:

          %p Every business is a little different, but here are the pieces of a typical business plan:

          %li
            %strong Executive Summary:
            %span A short paragraph that gives an overview of your business and a description of the product or service you’re offering. Include your goals for the next year or two. This is the most essential part and is required if you are applying for loads through the bank.
          %li
            %strong Market Analysis:
            %span This section should answer questions like: Who are the target customers for the business? Are there any businesses providing the same service that might be in competition with your business? Would a particular location in the city be important for your business to succeed?
          %li
            %strong Organization & Management:
            %span Think about what it will take to run the business each day. Will you need employees? What will the hours of the business be? Will you close for weekends and holidays?
          %li
            %strong Service or Product:
            %span Each product that you sell costs something to make, and each service that you provide takes employee time. Carefully calculate your costs so that you know how much you need to charge customers in order to make money.
          %li
            %strong Marketing & Sales:
            %span Every business needs a way to get customers. Write about how you plan to advertise and sell. Make sure to note what those marketing and sales activities will cost and how long they will take.
          %li
            %strong Finances:
            %span Using your estimates of what it will cost to open your business, operate, do marketing, and sell to customers, calculate how much money you need to start. Keep in mind that there may be a gap in time between when you start on the path to opening your business and when you receive the first profits. Have a plan to help finance your business (link to finance page?) A business plan is required if applying for funding through a bank. Make sure to check out
            %a{ href: start_finance_your_business_path } Step 2: Create a Financial Plan
            %span for more information.
          %li
            %strong Create a Timeline:
            %span Gauge when you would like to open.

        .step-section
          %h2 Get Informed with SBDC

          %p The Small Business Development Center (SBDC) helps entrepreneurs realize the dream of business ownership. The SBDC advisors provide a variety of FREE business consulting and low-cost training services.

          = render 'shared/link_box', link:'http://visitor.r20.constantcontact.com/manage/optin?v=001RO3dPrXHwIG-k8tIsAfnGcCad6LYFW4IjQ6o6deJG-dFX6g31sWEm0HX9IAnsXMLQSFRDsSqPtMC31ZB6g1wHg%3D%3D', line_1:'SIGN UP', line_2:'e-newsletter'

          %h3
            Take a Class
            %p Some of SBDC's courses and resources include:
            %ul
              %li Starting a Small Business
              %li Target Marketing
              %li Access to Capital
              %li Legal Issues/Incorporating
              %li Retail Site Location
              %li Business Planning
              %li Marketing Technologies
              %li Financial Management
              %li Becoming An Employer
              %li Lease Negotiation
              %li How to Use Quickbooks

          = render 'shared/link_box', link:'https://longbeachsbdc.org/', line_1:'SIGN UP', line_2:'longbeachsbdc.org'

          %p They have online courses as well as classroom courses.

          = render 'shared/link_box', link:'http://www.va-interactive.com/sbdc/ot/modules_bank.php?state_name=CALA', line_1:'VIEW', line_2:'Online Courses'

          %p They also provide low cost one-on-one consulting by expert business advisors.

          %ul
            %li How to create an email address
            %li How to Use social media
            %li How to write a business plan
            %li How to negotiate a lease
            %li Accounting practices

          = render 'shared/contact_box', type:'email', contact_info:'sbdcinfo@lbcc.edu'


          %a.media-object.map-box{ href:'https://www.google.com/maps/place/Los+Angeles+Small+Business+Development+Center+Regional+Network+(Lead+Center)/@33.8241696,-118.1375455,17z/data=!3m1!4b1!4m2!3m1!1s0x80dd323e2bf1b531:0x62b8fa356ef8c81d' }
            .map-box_title
              SBDC: Main Office
            .map-box_image{ style:"background-image:url(http://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=400x200&maptype=roadmap&key=AIzaSyDNMwk_TfOkVkYQYNEe_8e2M7k6z_KCx1A&format=png&visual_refresh=true&markers=size:mid|color:blue|4900+E+Conant+St+Suite+108,+Long+Beach,+CA+90808)" }

          = render 'shared/contact_box', type:'phone', contact_info:'(562) 938-5020'

          %a.media-object.map-box{ href:'https://www.google.com/maps/place/Long+Beach+SBDC+-+Downtown+Office,+309+Pine+Ave,+Long+Beach,+CA+90802/@33.7707967,-118.1947527,17z/data=!4m2!3m1!1s0x80dd313848533301:0xdfdabf7b8344f22e' }
            .map-box_title
              SBDC: Downtown Long Beach Office
            .map-box_image{ style:"background-image:url(http://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=400x200&maptype=roadmap&key=AIzaSyDNMwk_TfOkVkYQYNEe_8e2M7k6z_KCx1A&format=png&visual_refresh=true&markers=size:mid|color:blue|309+Pine+Ave,+Long+Beach,+CA)" }

          = render 'shared/contact_box', type:'phone', contact_info:'(562) 938-5100'

        .step-section
          %h2 Get a Mentor:

          = render 'shared/link_box', link:'https://www.score.org/mentoring/request/', line_1:'VIEW: SCORE Website', line_2:'ScoreLA.org'

          %p SCORE matches you with mentors who provide professional guidance and information to maximize the success of existing and emerging small businesses. The nonprofit is dedicated to teaching you how to start, grow and sustain your small business. There are no mentors available in Long Beach but you can connect with mentors in Los Angeles.

          = render 'shared/contact_box', type:'phone', contact_info:'(818) 552-3206'

          %h3 Parking Instructions:

          %p Please park in Lot O. Remember to purchase a $2 parking pass at the machine located to the right of the lot entrance. All attendees must park at any “non-staff” and “non-30 minute” lots.

          %a.media-object.map-box{ href:'https://www.google.com/maps/place/330+N+Brand+Blvd+%23190,+Glendale,+CA+91203/@34.1513403,-118.2565918,17z/data=!3m1!4b1!4m2!3m1!1s0x80c2c05493a322d9:0x1d1edb716a1a8726' }
            .map-box_title
              SCORE Main Office
            .map-box_image{ style:"background-image:url(http://maps.googleapis.com/maps/api/staticmap?center=330+North+Brand+Blvd,+Suite+190,+Glendale,+CA+91203&zoom=13&scale=false&size=400x200&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid|color:blue|330+North+Brand+Blvd,+Suite+190,+Glendale,+CA+91203)" }

        .row.margin-top-30
          .columns.small-12.small-centered
            %a.button.secondary.expanded{ href:start_finance_your_business_path } Step 2: Create a Finance Plan
