.step
  .step-header
    .step-title.text-center
      %i.icon-business-plan-blue
      %h1 Step 1:
      %h1 Create a Business Plan

  .content-container

    .row
      .checklist.columns.small-12.medium-5{"data-sticky-container" => "true"}
        .sticky{"data-anchor" => "step-content", "data-sticky" => "true"}
          %h2 My Checklist

          %ul
            %li
              %input{ type:'checkbox', id:'checklist-1' }
              %label{ for:'checklist-1' } Determine if I need a Business License
            %li
              %input{ type:'checkbox', id:'checklist-2' }
              %label{ for:'checklist-2' } Write a business plan
            %li
              %input{ type:'checkbox', id:'checklist-3' }
              %label{ for:'checklist-3' } Check out the FREE classes at SBDC
            %li
              %input{ type:'checkbox', id:'checklist-4' }
              %label{ for:'checklist-4' } Get feedback
            %li
              %input{ type:'checkbox', id:'checklist-5' }
              %label{ for:'checklist-5' } Connect with a mentor through SCORE

      #step-content.columns.small-12.medium-7
        .margin-all-10
          .row.step-section
            %h2 Do I need a Business License?
            %p Yes, virtually every business (even a small babysitting business) needs some form of license or permit to operate legally. These requirements vary depending on the type of business you are operating, where it’s located, and what government rules apply.

            %p The LBMC section 3.80.210 requires all businesses operating in the City of Long Beach to pay a business license tax. In some cases the City may require a regulatory permit and/or evidence of a State or Federal license. Prior to issuing a business license, certain business types will require the business license application and/or business location to be reviewed by the Development Services, Fire, Health, and/or Police Departments. Businesses located in Business Improvement Districts (BIDS) require additional fees. In addition, all vendors doing business with the City of Long Beach are required to have a business license in Long Beach.

            %p If you are still unsure if you need a business license contact the city’s Business License Department:

            = render 'shared/contact_box_combo', phone:'#', email:'#'

          .row.step-section
            %h2 Importance of a Business Plan

            %p Before you start your business, have a clear plan for how it will operate and make money. Writing a business plan will serve as a road map for how to prepare for the rest of the business setup process.

            = render 'shared/link_box', link:'http://www.bplans.com/sample_business_plans.php', line_1:'VIEW', line_2:'Sample Business Plan (PDF)'

            = render 'shared/link_box', link:'https://www.sba.gov/sites/default/files/SBA%201010C.pdf', line_1:'EDIT', line_2:'Business Plan Template (PDF)'

          .row.step-section
            %h2 Business Plan Components:

            %p Every business is a little different, but here are the pieces of a typical business plan:

            %li
              %strong Executive Summary:
              %span A few sentences that give an overview of your business, describing the product or service and your goals for the next year or two.
            %li
              %strong Market Analysis:
              %span Who are the target customers for the business? Are there any businesses providing the same service that might be in competition with your business? Would a particular location in the city be important for your business to succeed?
            %li
              %strong Organization & Management:
              %span Think about what it will take to run the business each day. Will you need employees? What will the hours of the business be? Will you close for weekends and holidays?
            %li
              %strong Service or Product:
              %span Each product that you sell costs something to make, and each service that you provide takes employee time. Whether you're providing a product or a service, carefully calculate your costs so that you know how much you need to charge customers in order to make money.
            %li
              %strong Marketing & Sales:
              %span Every business needs a way to get customers. Write a little about how you plan to advertise and sell, and make sure to note what those marketing and sales activities will cost.
            %li
              %strong Finances:
              %span Using your estimates of what it will cost to open your business, operate, do marketing, and sell to customers, calculate how much money you need to start. Keep in mind, there may be a considerable gap in time between when you start on the path to opening your business and when you receive the first profits.  If you don't have enough, think about how to borrow additional money. (link to finance page?) A business plan is required if applying for funding through a bank. Make sure to check out
              %a{ href: start_finance_your_business_path } Step 2: Create a Financial Plan
              %span for more information.
            %li
              %strong Create a Timeline:
              %span Gauge when you would like to open.

          .row.step-section
            %h2 Take a Class at SBDC
            = render 'shared/link_box', link:'https://longbeachsbdc.org/', line_1:'SIGN UP', line_2:'longbeachsbdc.org'
            %p SBDC (Small Business Development Center help entrepreneurs realize the dream of business ownership and help existing businesses remain competitive in a complex, ever-changing global marketplace. SBDC advisors provide a variety of free business consulting and low-cost training services including: business plan development, manufacturing assistance, financial packaging and lending assistance, exporting and importing support, disaster recovery assistance, procurement and contracting aid, market research help, 8(a) program support, and health care guidance.

            %a.media-object.map-box{ href:'https://www.google.com/maps/place/Los+Angeles+Small+Business+Development+Center+Regional+Network+(Lead+Center)/@33.8241696,-118.1375455,17z/data=!3m1!4b1!4m2!3m1!1s0x80dd323e2bf1b531:0x62b8fa356ef8c81d' }
              .map-box_title
                SBDC: Main Office
              .map-box_image{ style:"background-image:url(http://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=400x200&maptype=roadmap&key=AIzaSyDNMwk_TfOkVkYQYNEe_8e2M7k6z_KCx1A&format=png&visual_refresh=true&markers=size:mid|color:blue|4900+E+Conant+St+Suite+108,+Long+Beach,+CA+90808)" }
            %a.media-object.map-box{ href:'https://www.google.com/maps/place/Long+Beach+SBDC+-+Downtown+Office,+309+Pine+Ave,+Long+Beach,+CA+90802/@33.7707967,-118.1947527,17z/data=!4m2!3m1!1s0x80dd313848533301:0xdfdabf7b8344f22e' }
              .map-box_title
                SBDC: Downtown Long Beach Office
              .map-box_image{ style:"background-image:url(http://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=400x200&maptype=roadmap&key=AIzaSyDNMwk_TfOkVkYQYNEe_8e2M7k6z_KCx1A&format=png&visual_refresh=true&markers=size:mid|color:blue|309+Pine+Ave,+Long+Beach,+CA)" }

          .row.step-section
            %h2 Get a Mentor:
            = render 'shared/link_box', link:'https://www.score.org/mentoring/request/', line_1:'VIEW: SCORE Website', line_2:'ScoreLA.org'
            %strong Purpose:
            %span SCORE matches entrepreneurs with mentors who provide professional guidance and information to maximize the success of America’s existing and emerging small businesses. SCORE is a nonprofit organization dedicated to entrepreneur education and the formation, growth and success of small business nationwide.
            = render 'shared/contact_box_combo', phone:'(562) 938-5100', email:'sbdcinfo@lbcc.edu'

          .row.margin-top-30
            .columns.small-12.small-centered
              %a.button.secondary.expanded{ href:start_finance_your_business_path } Step 2: Create a Finance Plan
