- content_for :title, "Contact Us"

.step
  .step-header.margin-bottom-0
    .step-title.text-center
      %i.icon.icon-large.icon-contact.white
      %h1 Contact Us

  .content-container{ style: 'width: 100%;' }
    %ul.accordion.modules{ "data-accordion" => "true", "data-allow-all-closed" => "true" }
      %li.accordion-item.modular-box{ "data-accordion-item" => "true" }
        %a.accordion-title.step-group-title.text-centered
          .step-group-title-text
            .text
              %strong Long Beach City Hall
              %div Protects citizens through legal enforcement
            .arrow
        .accordion-content{ "data-tab-content" => "true" }
          = render 'shared/modular_box', type: 'email', content: 'info@longbeach.gov'
          = render 'shared/modular_box', type: 'phone', content: '408-784-5058'
          = render 'shared/modular_box', type: 'hours', content: '10am-5pm M-F'
          = render 'shared/modular_box', type: 'map', content: "333 W Ocean Blvd, Long Beach, CA 90802"
          = render 'shared/modular_box', type: 'bus', content: "Metro Blue Line"
          = render 'shared/modular_box', type: 'bike', content: "Bike racks and bike share pods available."
          = render 'shared/modular_box', type: 'parking', content: "Parking is available at 332 West Broadway Avenue; the first 30 minutes are free, and each additional 20 minutes cost $1.25, with a maximum fee of $7.50. Metered parking is also available along Broadway and Cedar, directly in front of City Hall."

    %ul.accordion.modules{ "data-accordion" => "true", "data-allow-all-closed" => "true" }
      %li.accordion-item.modular-box{ "data-accordion-item" => "true" }
        %a.accordion-title.step-group-title.text-centered
          .step-group-title-text
            .text
              %strong Business License Division
              %div Grants business licenses and permits
            .arrow
        .accordion-content{ "data-tab-content" => "true" }
          = render 'shared/modular_box', type: 'email', content: 'info@longbeach.gov'
          = render 'shared/modular_box', type: 'phone', content: '408-784-5058'
          = render 'shared/modular_box', type: 'hours', content: '10am-5pm M-F'
          = render 'shared/modular_box', type: 'map', content: "309 Pine Ave, Long Beach, CA 90802"
          = render 'shared/modular_box', type: 'bus', content: "Metro Blue Line"
          = render 'shared/modular_box', type: 'bike', content: "Bike racks and bike share pods available."
          = render 'shared/modular_box', type: 'parking', content: "Parking is available at 332 West Broadway Avenue; the first 30 minutes are free, and each additional 20 minutes cost $1.25, with a maximum fee of $7.50. Metered parking is also available along Broadway and Cedar, directly in front of City Hall."
