.step
  .step-header
    .step-title.text-center
      %i.icon-finance-blue
      %h3 Step 2:
      %h1 Create a Financial Plan

  .content-container

    .row
      .checklist.columns.small-12.medium-5{"data-sticky-container" => "true"}
        .sticky{"data-anchor" => "step-content", "data-sticky" => "true"}
          %h2 My Checklist

          %ul
            %li
              %input{ type:'checkbox', id:'checklist-1' }
              %label{ for:'checklist-1' } Create a Financial Plan
            %li
              %input{ type:'checkbox', id:'checklist-2' }
              %label{ for:'checklist-2' } Calculate needed starting capital.
            %li
              %input{ type:'checkbox', id:'checklist-3' }
              %label{ for:'checklist-3' } Calculate Financial Projections.
            %li
              %input{ type:'checkbox', id:'checklist-4' }
              %label{ for:'checklist-4' } Calculate your Break Even point
            %li
              %input{ type:'checkbox', id:'checklist-5' }
              %label{ for:'checklist-5' } Review plan with FREE resources like SBDC
            %li
              %input{ type:'checkbox', id:'checklist-6' }
              %label{ for:'checklist-6' } Explore available loans from the city, the bank, and friends and family.

      #step-content.columns.small-12.medium-7
        .step-section
          %h5 Capital
          %p You have a plan, now you need money to cover your startup expenses and to sustain your business. This includes money to buy equipment as well as to cover any construction, permit or licensing fees.

          %p Be sure that you prepare enough money to run your business for at least the first several months, as it may take time to set up before you have enough customers to be profitable. Starting a business can be expensive. Using the calculations and estimates from your business plan [link to Step 1], decide if you have enough money to begin, or if you need additional money first. Lenders want to see the entrepreneur has his/her capital invested in the business. Have skin in the game.

        .step-section
          %h5 Financial Projections

          %p Before you start your business, have a clear plan for how it will operate and make money. Writing a business plan will serve as a road map for how to prepare for the rest of the business setup process.

          = render 'shared/link_box', link:'http://www.bplans.com/sample_business_plans.php', line_1:'VIEW', line_2:'Sample Business Plan (PDF)'

          = render 'shared/link_box', link:'https://www.sba.gov/sites/default/files/SBA%201010C.pdf', line_1:'EDIT', line_2:'Business Plan Template (PDF)'

        .step-section
          %h5 Break Even Point

          %p Determine how long it will take for your business to become profitable. How many customers might you need? How long will it take to find those customers?

        .step-section
          %h5 Sources and Uses of Funds

          %p Show a summary where the capital used to funds major purchases will come from (the sources) and what this capital will purchase (the uses). A business plan is required if applying for funding through a bank.

        .step-section
          %h5 Funding Sources

          %strong City Loans:

          %p The City of Long Beach has a loan program for small businesses. City loans are based on the quality of your business plan as well as your resume and other personal qualifications. Credit score is part of the decision, but a low credit score might not prevent you from getting a loan.

          = render 'shared/link_box', link:'http://www.longbeach.gov/citymanager/economic-development/grow-long-beach-fund-loan-program/', line_1:'EXPLORE', line_2:'City Loans'

          %strong Economic Development Office

          = render 'shared/contact_box_combo', phone:'#', email:'#'

          %strong Private Loans

          %p Many banks will also give loans to small businesses. The requirements for these loans may be more demanding, however, and interest rates may also be higher. You are encouraged to contact your bank first for current rates and terms.

          = render 'shared/link_box', link:'#', line_1:'VIEW', line_2:'Storefront Improvement Grants'

        .row.margin-top-30
          .columns.small-12.small-centered
            %a.button.secondary.expanded{ href:start_find_a_location_path } Step 3: Business Location
