.home
  .row.columns.small-12.large-8.large-offset-2.margin-bottom-30
    .hero-title
      .logo-longbeach
        %div{ style: 'margin-bottom: -20px; font-size: 20px;' } CITY OF
        %span.logo-longbeach_long> LONG
        %span.logo-longbeach_beach> BEACH
    .hero
      %img{ src: image_path('lb_skyline_61237790-f520-4527-a9da-67c0e0583032_light.png') }
    .hero-copy
      %h4
        Welcome to the pilot of BizPort!
      %h5{ style: 'font-weight: 400;' }
        Starting a business is both exciting and challenging. BizPort is here to help you navigate the process.

  .row
    - ['plan','apply','launch'].each do |step_group|
      %ul.step-group.accordion.columns.small-12.large-4{ class: "#{step_group}", "data-accordion" => "true", "data-allow-all-closed" => "true" }
        %li.accordion-item{ "data-accordion-item" => "true" }
          %a.accordion-title.step-group-title.media-object.text-centered
            .step-group-title-text
              = step_group.upcase
              .arrow.hide-for-large
          .accordion-content{ "data-tab-content" => "true" }
            - Comfy::Cms::Page.published.find_by(slug: step_group).children.published.order(:position).each do |page|
              - if step_group == 'apply' && page.label == 'Physical Location'
                .step-card.choice-card.media-object{ style: 'height: initial; padding: 0;' }
                  .text-center.choice-section.optional-disable
                    .row
                      %strong Solo Home Office
                    .row
                      %i.icon{ class: "icon-freelancer" }
                  .text-center.choice-section.optional-enable.selected
                    .row
                      %strong Brick & Mortar
                    .row
                      %i.icon{ class: "icon-physical-location" }
                  %a{ href: page.full_path }
                    .choice-link.text-center
                      %strong UNSURE
              - else
                %a{ href: page.full_path }
                  - optional_step = ['negotiate-lease','plan-check','permits','inspections'].include? page.slug
                  .step-card.media-object{ class: "#{ optional_step ? 'optional-step' : '' }" }
                    .media-object-section.middle
                      %i.icon{ class: "icon-#{page.slug}" }
                    .media-object-section.middle
                      %strong= page.label
                      %div= page.blocks.find_by(identifier: 'subtitle').try(:content)
  .row
    .column.small-12.medium-6
      %a{ href: checklist_path }
        .media-object.text-center
          .icon.icon-large.icon-checklist
          .row
            %strong My Checklist:
          .row{ style: "padding: 0.5rem;" }
            Keep track of your to-do items
    .column.small-12.medium-6
      %a{ href: survey_path }
        .media-object.text-center
          .icon.icon-large.icon-survey
          .row
            %strong Survey:
          .row{ style: "padding: 0.5rem;" }
            Tell us about your experience getting a business up and running

  :javascript
    $(document).ready(function () {
      $('.optional-disable').click(function () {
        var $optionalStep = $('.optional-step');
        $('.choice-section').removeClass('selected');
        if ( $optionalStep.hasClass('inactive') ) {
          $(this).addClass('selected');
        } else {
          $(this).addClass('selected');
          $optionalStep.addClass('inactive');
        }
      });
      $('.optional-enable').click(function () {
        var $optionalStep = $('.optional-step');
        $('.choice-section').removeClass('selected');
        if ( $optionalStep.hasClass('inactive') ) {
          $optionalStep.removeClass('inactive');
          $(this).addClass('selected');
        } else {
          $(this).addClass('selected');
        }
      });
    });
