= form_tag(resources_search_path, method: "post") do
  = hidden_field_tag(:city, 'Long Beach')
  = hidden_field_tag(:state, 'CA')

  = label_tag(:opp_type, "I need:")
  = radio_button_tag(:opp_type, 'money')
  = label_tag(:opp_type_money, 'Money')
  = radio_button_tag(:opp_type, 'advice')
  = label_tag(:opp_type_advice, 'Advice')
  = label_tag(:personal_investment, "I am willing to invest my own money:")
  = check_box_tag(:personal_investment)
  = label_tag(:small_business, "My business is a 'small business':")
  = check_box_tag(:small_business)
  = submit_tag("Search")
