= form_tag(resources_search_path, method: "post") do
  = label_tag(:opp_type, "I need:")
  = radio_button_tag(:opp_type, 'loan')
  = label_tag(:opp_type_loan, 'Loan')
  = radio_button_tag(:opp_type, 'grant')
  = label_tag(:opp_type_grant, 'Grant')
  = radio_button_tag(:opp_type, 'advice')
  = label_tag(:opp_type_advice, 'Advice')
  = label_tag(:personal_investment, "I am willing to invest my own money:")
  = check_box_tag(:personal_investment)
  = label_tag(:small_business, "My business is a 'small business':")
  = check_box_tag(:small_business)
  = label_tag(:city, "City:")
  = text_field_tag(:city)
  = label_tag(:state, "State:")
  = text_field_tag(:state)
  = submit_tag("Search")
