!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    = render 'shared/analytics'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .off-canvas-wrapper
      .off-canvas-wrapper-inner{"data-off-canvas-wrapper" => true}
        .feedback-tab
          %a{ href: 'https://lisa317.typeform.com/to/mHoveY' } Feedback
        .alpha-banner
          This site is a work in progress.
          .float-right
            %a{ href: contact_path } Learn More
        / off-canvas title bar for 'small' screen
        .title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "widemenu"}
          .title-bar-left
            %span.title-bar-title.logo-longbeach
              %a{ href: root_path }
                %span.logo-longbeach_long> LONG
                %span.logo-longbeach_beach> BEACH
                / %img{ src: image_path('logo-longbeach.png'), alt: "Long Beach Logo" }
          .title-bar-right
            %button.menu-icon{"data-open" => "offCanvasRight", :type => "button"}
        / off-canvas right menu
        #offCanvasRight.off-canvas.position-right{"data-off-canvas" => true, "data-position" => "right"}
          %ul.vertical.menu{"data-dropdown-menu" => true}
            %li
              %a{ href: root_path } Home
            %li
              %a{ href: contact_path } Contact
            %li
              %a{ href: profile_path } Profile
            %li
              %a{ href: questions_path } FAQ
            %li.title
              Start a Business
            = render 'shared/header_nav_biz_steps'
        / "wider" top-bar menu for 'medium' and up
        #widemenu.top-bar
          .top-bar-left
            %ul.dropdown.menu{"data-dropdown-menu" => true}
              %li.topbar-title.logo-longbeach
                %a{ href: root_path }
                  %img{ src: image_path('logo-longbeach.png'), alt: "Long Beach Logo" }
              %li.has-submenu
                %a{ href: start_business_plan_path } Start a Business
                %ul.menu.submenu.vertical{"data-submenu" => true}
                  = render 'shared/header_nav_biz_steps'
              %li
                %a{ href: contact_path } Contact
              %li
                %a{ href: profile_path } Profile
              %li
                %a{ href: questions_path } FAQ
          .top-bar-right
        / original content goes in this container
        .off-canvas-content{"data-off-canvas-content" => true}
          = yield
    = render 'shared/footer'
