!!!
%html{ lang: "en"}
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{ charset: "utf-8"}
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title= content_for?(:title) ? "Business Portal | "+yield(:title) : "Business Portal"
    - if Rails.env.production?
      = render 'shared/analytics_ga' # must be inline for domain verification
      = javascript_include_tag 'analytics'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'print', media: 'print'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.no-js{ class: yield(:body_class) }
    - if notice
      .notice.padding-all-10= notice
    - if alert
      .alert= alert
    .off-canvas-wrapper
      .off-canvas-wrapper-inner{"data-off-canvas-wrapper" => true}
        / off-canvas title bar and menu
        .title-bar
          .title-bar-left
            %span.title-bar-title
              %a{ href: root_path }
                %span Business Portal
          .title-bar-right
            %button.menu-icon{"data-open" => "offCanvasRight", type: "button"}
              .div Menu
        .translate-bar
          #google_translate_element
            :javascript
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,es,hy,ja,km,ko,ru,tl,vi,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-74906812-2'}, 'google_translate_element');
              }
            %script{:src => "//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit", :type => "text/javascript"}
        / off-canvas right menu
        #offCanvasRight.off-canvas.position-right{"data-off-canvas" => true, "data-position" => "right"}
          .user-account-area
            - if user_signed_in?
              .log-button= link_to('Sign Out', destroy_user_session_path, method: :delete, class: '')
              %a.row{ href: profile_path }
                .icon.icon-profile.pull-right
                - split_email = current_user.email.split('@')
                .user-name
                  = split_email[0]
                  = '@'+split_email[1]
            - else
              .row
                .log-button= link_to 'Log In', new_user_session_path, class: 'pull-right'

          %ul.vertical.menu{"data-dropdown-menu" => true}
            %li
              %a{ href: root_path } Home
            %li
              %a{ href: survey_path } Survey
            %li
              %a{ href: profile_path } My Profile
            %li
              %a{ href: '/contact' } Contact
            - ['plan','launch','grow'].each do |step_group|
              %li.title
                = step_group.titleize
              %ul
                = render 'shared/header_nav_biz_steps', step_groups: [step_group]
        / original content goes in this container
        .off-canvas-content{"data-off-canvas-content" => true}
          = yield
          - unless yield(:footer) == "disable"
            = render 'shared/footer'
    = render 'shared/glossary'
