!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? "BizPort | "+yield(:title) : "BizPort"
    - if Rails.env.production?
      = javascript_include_tag "analytics"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "print", media: "print"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .off-canvas-wrapper
      .off-canvas-wrapper-inner{"data-off-canvas-wrapper" => true}
        / off-canvas title bar for 'small' screen
        .title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "widemenu"}
          .title-bar-left
            %span.title-bar-title.logo-longbeach
              %a{ href: root_path }
                %span.logo-longbeach_long> LONG
                %span.logo-longbeach_beach> BEACH
                %div{ style:"font-size: 16px;color: white;margin-top: -7px;font-weight: 400;font-family:'Raleway'" } Business Portal Pilot
          .title-bar-right
            %button.menu-icon{"data-open" => "offCanvasRight", :type => "button"}
        / off-canvas right menu
        #offCanvasRight.off-canvas.position-right{"data-off-canvas" => true, "data-position" => "right"}
          %ul.vertical.menu{"data-dropdown-menu" => true}
            %li
              %a{ href: root_path } Home
            %li
              %a{ href: survey_path } Survey
            %li
              %a{ href: contact_path } Contact
            %li
              %a{ href: checklist_path } My Checklist
            %li
              %a{ href: resources_path } Resources
            %li.title
              Start a Business
            %ol
              = render 'shared/header_nav_biz_steps'
        / "wider" top-bar menu for 'medium' and up
        #widemenu.top-bar
          .top-bar-left
            %ul.dropdown.menu{"data-dropdown-menu" => true}
              %li.topbar-title.logo-longbeach
                %a{ href: root_path }
                  %span.logo-longbeach_long> LONG
                  %span.logo-longbeach_beach> BEACH
                  %div{ style:"font-size: 16px;color: white;font-weight: 400;font-family:'Raleway'" } Business Portal Pilot
              %li.has-submenu
                %a{ href: '/start' } Start a Business
                %ul.menu.submenu.vertical{"data-submenu" => true}
                  = render 'shared/header_nav_biz_steps'
              %li
                %a{ href: survey_path } Survey
              %li
                %a{ href: contact_path } Contact
              %li
                %a{ href: checklist_path } My Checklist
              %li
                %a{ href: resources_path } Resources
          .top-bar-right
        / original content goes in this container
        .off-canvas-content{"data-off-canvas-content" => true}
          .notice= notice
          .alert= alert
          = yield
    / glossary.js really wants this item to exist - leaving it empty so it's 'invisible'
    %button.js-glossary-toggle
    #glossary.drawer{"aria-describedby" => "glossary-result", "aria-hidden" => "true"}
      .container
        %button.button--close.js-glossary-close{:tabindex => "-1", :title => "Close glossary"}
          .close-x
      %h2.drawer-header Glossary
      %label.label{:for => "drawer-search"} Filter glossary terms
      %input.js-glossary-search.drawer-search{:placeholder => "e.g. Fossil fuel", :tabindex => "-1", :type => "search"}
      #glossary-result
        %ul.js-glossary-list{:accordion => ""}
    = render 'shared/footer'
