!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? "BizPort | "+yield(:title) : "BizPort"
    - if Rails.env.production?
      = javascript_include_tag "analytics"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "print", media: "print"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .off-canvas-wrapper
      .off-canvas-wrapper-inner{"data-off-canvas-wrapper" => true}
        / off-canvas title bar and menu
        .title-bar
          .title-bar-left
            %span.title-bar-title
              %a{ href: root_path }
                %span BizPort
          .title-bar-right
            %button.menu-icon{"data-open" => "offCanvasRight", :type => "button"}
        / off-canvas right menu
        #offCanvasRight.off-canvas.position-right{"data-off-canvas" => true, "data-position" => "right"}
          %ul.vertical.menu{"data-dropdown-menu" => true}
            %li
              #google_translate_element{style: 'margin-left: 15px; padding-top: 15px;'}
              :javascript
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,es,hy,km,ko,tl,vi,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-74906812-2'}, 'google_translate_element');
                }
              %script{:src => "//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit", :type => "text/javascript"}
            %li
              %a{ href: root_path } Home
            %li
              %a{ href: survey_path } Survey
            %li
              %a{ href: checklist_path } My Checklist
            %li
              %a{ href: resources_path } Resources
            %li
              %a{ href: contact_path } Contact
            - ['plan','apply','launch'].each do |step_group|
              %li.title
                = step_group.titleize
              %ul
                = render 'shared/header_nav_biz_steps', step_groups: [step_group]
        / original content goes in this container
        .off-canvas-content{"data-off-canvas-content" => true}
          .notice= notice
          .alert= alert
          = yield
          = render 'shared/footer'
    = render 'shared/glossary'
